@import '../variables.scss';

.app-root {
    margin: 0 auto;
    max-width: 600px;
    padding: $u-spacing;

    &__data {
        border: 1px solid $c-grey;
        margin-top: $u-spacing;
        padding: $u-spacing;
    }
}